{% extends 'base.html.twig' %}

{% block stylesheets %}
    {% stylesheets '@AppBundle/Resources/public/styles/bootstrap.min.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
        <div class="container">
            <h1>Welcome to link #{{ id }}</h1>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <span class="col-lg-2 text-right">Origin url:</span> <span class="col-lg-10">{{ origin_url }}</span>
                    </div>
                    <div class="row">
                        <span class="col-lg-2 text-right">Short url:</span> <span class="col-lg-10">{{ url('homepage') }}{{ short_url }}</span>
                    </div>
                    <div class="row">
                        <span class="col-lg-2 text-right">Amount of visits:</span> <span class="col-lg-10">{{ amount }}</span>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
