{% extends 'base.html.twig' %}

{% block stylesheets %}
    {% stylesheets '@AppBundle/Resources/public/styles/bootstrap.min.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
        <div class="container">

            <h1>Welcome to shortener</h1>

            {{ form_start(form) }}

                {% if form.vars.errors|length or form.originUrl.vars.errors|length %}
                    <div class="alert alert-danger">
                        {{ form_errors(form) }}
                        {{ form_errors(form.originUrl) }}
                    </div>
                {% endif %}

                <div class="form-group">
                    {{ form_label(form.originUrl, 'Paste link') }}
                    {{ form_widget(form.originUrl, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.shortUrl, 'Desired short url') }}
                    {{ form_widget(form.shortUrl, {'attr': {'class': 'form-control'}})  }}
                </div>
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-lg btn-primary'}, 'label': 'Generate'}) }}
            {{ form_end(form) }}

            {% if new_url is defined %}
                <h3>Copy your short link :)</h3>
                <div class="well well-sm">
                    {{ url('homepage') }}{{ new_url }}
                </div>
            {% endif %}

        </div>
{% endblock %}
